# Usage Example for our html2df Python Libraries

#### Just importing some Libraries

In [2]:
import requests
from bs4 import BeautifulSoup
import  html2df as hd

#### requesting some page for our example

In [3]:
html_source = requests.get('https://br.advfn.com/bolsa-de-valores/bovespa/indice-bovespa-IBOV/cotacao')

#### instantiating the beautifulsoup parser

In [4]:
bs_parser = BeautifulSoup(html_source.text, 'html.parser')

#### selecting our table to transform into dataframe

In [5]:
table_tags = bs_parser.find_all('table',id='id_period_quote')

#### here is a simple call to convert

In [6]:
my_dataframe = hd.DfCreator(html= str(table_tags[0]) )

#### showing results

In [7]:
display( my_dataframe )

,Período,Abe,Máx.,Mín.,Preço Méd.,Vol Méd.,Var,%
0,1 Semana,"126.218,42","131.190,30","126.218,42","129.612,15",648.568.925,"3.568,69","2,83%"
1,1 Mês,"121.903,82","131.190,30","119.458,43","124.775,40",545.220.639,"7.883,29","6,47%"
2,3 Meses,"114.845,17","131.190,30","113.305,43","120.925,73",498.429.325,"14.941,94","13,01%"
3,6 Meses,"113.589,77","131.190,30","107.319,15","118.522,04",538.501.783,"16.197,34","14,26%"
4,1 Ano,"94.640,43","131.190,30","90.147,92","109.602,10",497.669.480,"35.146,68","37,14%"
5,3 Anos,"73.847,88","131.190,30","61.690,53","98.499,61",426.199.969,"55.939,23","75,75%"
6,5 Anos,"50.490,11","131.190,30","48.066,67","88.296,30",396.076.497,"79.297,00","157,05%"